In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
%matplotlib inline

In [5]:
# Advanced pandas
# Categorical data
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
categ = dim.take(values)
categ

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [6]:
pd.unique(categ)

array(['apple', 'orange'], dtype=object)

In [7]:
pd.value_counts(categ)

apple     6
orange    2
dtype: int64

In [8]:
# pandas.Categorical object
#fruit_cat = df['fruit'].astype('category')
my_cat = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_cat.categories

Index(['bar', 'baz', 'foo'], dtype='object')

In [10]:
my_cat.codes

array([2, 0, 1, 2, 0], dtype=int8)

In [11]:
# construct categorical data from another source
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]

In [13]:
# ordered categorical data
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)
ordered_cat

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

In [14]:
# computation with categoricals
draws = np.random.randn(1000)
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins = pd.Series(bins, name='quartile')
results = (pd.Series(draws).groupby(bins).agg(['count', 'min', 'max']).reset_index())
results

  quartile  count       min       max
0       Q1    250 -3.450893 -0.699239
1       Q2    250 -0.696630 -0.069469
2       Q3    250 -0.068725  0.617835
3       Q4    250  0.623081  3.291930

In [19]:
# cat methods
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2.value_counts()

d    2
c    2
b    2
a    2
e    0
dtype: int64

In [20]:
cat_s2.cat.remove_unused_categories()

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [21]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

In [23]:
# Advanced groupby
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4, 'value': np.arange(12.)})
g = df.groupby('key').value
g.transform(lambda x: x.mean())
#g.transform('mean')

# normalize
def normalize(x):
    return (x - x.mean()) / x.std()
g.transform(normalize)
#g.apply(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64